<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Typeidea Blog</title>
</head>

<body>
    <div>
        {% if tag %}
        tag: {{tag.name}}
        {% endif %}

        {% if tag%}
        category: {{category.name}}
        {%endif%}

        {% if post%}
        <h1>{{post.title}}</h1>
        <div>
            <span>author: {{post.owner.username}}</span>
            <span>category: {{post.category.name}}</span>
        </div>
        <hr />
        <p>
            {{post.content}}
        </p>
        {%endif%}
    </div>
    <div>
        {% for sidebar in sidebars %}
            <h4>{{sidebar.title}}</h4>
            {{sidebar.content}}
        {% endfor %}
    </div>
</body>

</html>