{% extends "./base.html" %}

{% block title %}
    {% if tag %}
    tag: {{ tag.name }}
    {% endif %}

    {% if tag %}
    category: {{ category.name }}
    {% endif %}
{% endblock %}

{% block main %}
    <ul>
        {% for post in post_list %}
        <li>
            <a href="{% url 'post-detail' post.id %}">{{ post.title }}</a>
            <div>
                <span>author: {{ post.owner.username }}</span>
                <span>category: {{ post.category.name }}</span>
            </div>
            <p>{{ post.abstract }}</p>
        </li>
        {% endfor %}
    </ul>
{% endblock %}